<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Mario Kart API</title>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Dashboard</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Shortcuts</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Overview</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Events</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Profile</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Status</a
          >
        </div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Page content-->
        <div class="container-fluid">
          <h1 class="mt-4">SNES MARIO KART API</h1>
          <p>
            This API provides information about the SNES version of the classic
            game, Mario Kart. It allows users to retrieve data about various
            game elements such as characters, items, tracks...
          </p>
        </div>
      </div>
    </div>
  </body>

  <!-- BOOTSTRAP DEPENDENCIES -->
  <script
    src="https://code.jquery.com/jquery-3.6.4.slim.js"
    integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.js"></script>

  <script src="js/sideBarToggle.js"></script>
</html>
