/* FONTS */

@font-face {
    font-family: mario;
    src: url(../fonts/SuperMario.ttf);
}

@font-face {
    font-family: mario-pixel;
    src: url(../fonts/SuperMarioPixel.ttf);
}

/* UTILS */

h1 {
    font-family: mario;
}

h2,
h3 {
    font-family: monospace;
}

.monospace {
    font-family: monospace;
}

p,
a,
span {
    font-family: mario-pixel;
}

p,
a {
    font-size: 14px;
}

.small-font {
    font-size: 10px;
}

/* NAVBAR */

.top-link {
    text-decoration: none;
    position: fixed;
    left: 30px;
    bottom: 30px;
}

#made-by,
#wiki-info {
    padding: 5px 1rem 5px 1rem !important;
}

#wiki-info {
    border-bottom: 1px solid #bebebe;
}

#dev-mode-toggle {
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;
}

#toggle-switch-label {
    font-family: mario-pixel;
    font-size: 12px;
    position: relative;
    left: 15px;
    bottom: -4px;
}

#toggleSwitch:hover {
    cursor: pointer;
}

.form-switch .form-check-input {
    margin-left: 0.8em;
}

.form-switch {
    padding-left: -2em;
}

.form-check {
    padding-left: 0;
}

/* CONTENT*/

.container-fluid{
    max-width: 992px;
}

#page-content-wrapper {
    margin-left: 220px;
    scroll-behavior: smooth;
}

.accordion-header-get {
    border: 1px solid #469408;
}

.accordion-header-post {
    border: 1px solid #029acf;
}

.accordion-header-put {
    border: 1px solid #d9831f;
}

.accordion-header-delete {
    border: 1px solid #d9230f;
}

.accordion {
    margin: 5px 0;
}